@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Enrollment)
  @Html.TextBoxFor(model => model.Enrollment)

  @Html.Label("Select course")
  @Html.DropDownList("CourseId")

  <input type="submit" value="Add new student" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Students", "Index")</p> 