@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h2>Course Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.CourseName): @Html.DisplayFor(model => model.CourseName)<h3>
  <h5>@Html.DisplayNameFor(model => model.CourseNumber): @Html.DisplayFor(model => model.CourseNumber)</h5>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This course does not contain any Students</p>
}
else
{
  <h4>Students in this course contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Student.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Courses", "Index")</p> 
<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>